body{
    max-width: 1270px;
    background-color: aqua;
    margin: 0 auto;
}
.hero-container{
display: flex;
align-items: center;
background-color: aquamarine;
border-radius: 25px;

padding: 25px;
font-size: 1.25em;
}
.hero-container button{
    background-color: rgb(153, 247, 46);
    font-size: 0.79em;
    border-radius: 5px;
}
.hero-container img{
    width: 500;
    height: 500px;
    border-radius: 25px;
}
