
footer{
    text-align: center;
}
nav li{
list-style: none;
/* display: inline; */
margin-right: 15px;
text-align: center;
}
nav li:hover{
    background-color: aqua;
}
nav li a{
    text-decoration: none;
}